.controls-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 30%;
}

.recorder-display {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

@keyframes animated-block {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.recording-indicator {
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #099fff;
  animation-name: animated-block;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.recording-time {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-button-container {
  animation-name: animated-block;
  animation-duration: 2s;
}

.start-button,
.cancel-button {
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.cancel-button:hover {
  color: #fd1c03;
}

.cancel-button {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.start-button-container {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.start-button:hover {
  color: #41295a;
  background-color: #f2ea02;
}

.start-button {
  margin-left: 5px;
  width: 30px;
  height: 30px;
}
